@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>*@

<h3>Contact e-mail</h3>
<br />

@(Html.Kendo().TabStrip()
        .Name("ContactsTabStrip")
        .Items(items =>
        {
            items.Add()
                .Text("Email")
                .Content(@<text>
                        <address>
                            <strong>Support:</strong> <a href="mailto:info@limboworld.net">info@limboworld.net</a><br />
                        </address>
                </text>);
                @*items.Add()
                    .Text("Address")
                    .Content(@<text>
                    <address>
                        Progress Software Corporation<br />
                        Bedford, MA 01730<br />
                        14 Oak Park Drive<br />
                        <abbr title="Phone">Phone:</abbr>
                        +1-781-280-4000
                    </address>
                    <address>
                        Progress Software Europe BV<br />
                        Rotterdam, 3067 GG<br />
                        Schorpioenstraat 67<br />
                        <abbr title="Phone">Phone:</abbr>
                        +31-10-235-1111
                    </address>
                    </text>);*@
})
)

