@{
    ViewData["Title"] = "Home Page";
}

<div>
    @(Html.Kendo().PanelBar()
                               .Name("IntroPanelBar")
                                                                                                                                          .Items(items =>
                                                                                                                                          {
                                                                                                                                              items.Add()
                                                                                                                                                  .Text("ASP.NET Core")
                                                                                                                                                  .Selected(true)
                                                                                                                                                  .Expanded(true)
                                                                                                                                                  .Content(@<text>
                                                                                                                                                    <p style="padding:1em 2em">
                                                                                                                                                        Learn how to build ASP.NET apps that can run anywhere.
                                                                                                                                                        <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
                                                                                                                                                    </p>
                                                                                                                                                </text>);
                                                                                                                                                                                                                                                                                      items.Add()
.Text("Visual Studio")
.Content(@<text>
                                                                                                                                        <p style="padding:1em 2em">
                                                                                                                                            There are powerful new features in Visual Studio for building modern web apps.
                                                                                                                                            <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">Learn More</a>
                                                                                                                                        </p>
</text>);
                                                                                                                                                  items.Add()
.Text("Package Management")
.Content(@<text>
    <p style="padding:1em 2em">
        Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
        <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">Learn More</a>
    </p>
</text>);
                                                                                                                                              })
    )

</div>

@*<div>
        <form id="send-form" action="#">
            Send a message:
            <input type="text" id="message-textbox" disabled/>
            <button id="send-button" type="submit" disabled>Send</button>
        </form>
        <ul id="messages-list"></ul>
    </div>

    @section Scripts{
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/chat.js"></script>
    }*@

<link href="~/ChatStyle.css" rel="stylesheet" />
<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />

@section Scripts{
    @*<script src="~/lib/jquery-ui/ui/minified/core.js"></script>*@
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jquery-ui/ui/minified/widget.js"></script>
    <script src="~/lib/jquery-ui/ui/widgets/mouse.js"></script>
    <script src="~/lib/jquery-ui/ui/widgets/draggable.js"></script>
    <script src="~/lib/jquery-ui/ui/widgets/resizable.js"></script>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/chatjs.js"></script>

}

<div id="header">
    SignalR Chat Room
</div>
<br />
<br />
<br />

<div id="divContainer">
    @*<div id="divLogin" class="login">
            <div>
                Your Name:<br />
                <input id="txtNickName" type="text" class="textBox" />
            </div>
            <div id="divButton">
                <input id="btnStartChat" type="button" class="submitButton" value="Start Chat" />
            </div>
        </div>*@

    <div id="divChat" class="chatRoom">
        <div class="title">
            Welcome to Chat Room [<span id='spanUser'></span>]

        </div>
        <div class="content">
            <div id="divChatWindow" class="chatWindow">
            </div>
            <div id="divusers" class="users">
            </div>
        </div>
        <div class="messageBar">
            <input class="textbox" type="text" id="txtMessage" />
            <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
        </div>
    </div>

    <input id="hdId" type="hidden" />
    <input id="hdUserName" type="hidden" />
</div>