@model catchme.bg.Models.Evaluation

@{
    ViewData["Title"] = "MBTI Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>MBTI Questions</h4>
<hr />

<div>
    @using (Html.BeginForm())
    {
    @*@Html.EditorFor(x => x.Questions)*@
        foreach (var item in Model.Questions)
        {
            @Html.RadioButtonFor(m => m.Answers[item.QuestionID-1], 1)  @item.AnswerText1
            @Html.RadioButtonFor(m => m.Answers[item.QuestionID-1], 2)  @item.AnswerText2
        }

    <input type="submit" />
    }
</div>




