
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Would you like to fill out the test again?</h2>

<input type="button" value="Start over" onclick="location.href = '@Url.Action("Step1", "Mbti")'" />
&nbsp;
<input type="button" value="Cancel" onclick="location.href = '@Url.Action("Index", "Home")'" />

