@model string

@using (Html.BeginForm()) {
    <fieldset>
        <legend>Form</legend>
        <p>
            @Html.Label("label", Model)
        </p>
        <p>
            <input type="submit" value="Seed Data!" />
        </p>
    </fieldset>
}
