@{
    ViewData["Title"] = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    <p>
        Completely free psychological testing and matching for people over 18.
    </p>

    <p>
        Logo sourced from <a href="http://bestanimations.com/Earth&Space/Earth/Earth3.html">bestanimations.com</a>
    </p>

    <p>
        Enjoy this free app!
    </p>
</article>
